NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_PASSPHRASE="Test SDF Network ; September 2015"
NEXT_PUBLIC_SUBPATH_CONTRACT_ID=CD32ACJSW2FPYWXHLUT5YUAIZNQPIYU7A66QZP5RCC2IGRBU64DDQXYF
DATABASE_URL="postgresql://user:password@localhost:5432/subpath"
